<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div class="emotion-detection">
        <nav class="nav-top">
            <div class="nav-content">
                <div class="nav-left">
                    <img src="{{ url_for('static', filename='emotional.png')}}">
                    <div>EmployeeSAT</div>
                </div>
                <div class="nav-right">
                    <img src="{{ url_for('static', filename='images/presentation (1).png')}}">
                    <div>Fusemachines Training</div>
                </div>
            </div>   
        </nav>
        <div class="middle-content">
            <div class="left-box">
                <div class="heading">Provide Employee Content</div>
                <div class="image">
                    <img src="{{ url_for('static', filename='images/emotional.png')}}">
                </div>
                <div class="data">
                    <form action="{{url_for('predict')}}" method="POST">
                        <textarea name="message" required></textarea>
                        <button type="submit">Analyze</button>
                    </form>
                </div>
            </div>
            <div class="right-box">
                <div class="box-top">
                    <div class="tab">
                        <button onclick="showPanel(0,'#0A92DE')">
                            <div class="btn">
                                <img src="{{ url_for('static', filename='images/emotions.png')}}">
                                <span>Emotion</span>
                            </div>
                        </button>
                        <button onclick="showPanel(1,'#0A92DE')">
                            <div class="btn">
                                <img src="{{ url_for('static', filename='images/stadistics.png')}}">
                                <span>Result</span>
                            </div>
                        </button>
                    </div>
                    <div class="tabpanel">
                        {% if prediction == 0%}
                        <div class="emotion-tab">
                            <img src="{{ url_for('static', filename='images/happy.png')}}">
                            <span>joy</span>
                        </div>
                        {% elif prediction == 1%}
                        <div class="emotion-tab">
                            <img src="{{ url_for('static', filename='images/crying.png')}}">
                            <span>Fear</span>
                        </div>
                        {% elif prediction == 2%}
                        <div class="emotion-tab">
                            <img src="{{ url_for('static', filename='images/angry.png')}}">
                            <span>Anger</span>
                        </div>
                        {% elif prediction == 3%}
                        <div class="emotion-tab">
                            <img src="{{ url_for('static', filename='images/nervous.png')}}">
                            <span> Sadness</span>
                        </div>
                        {% elif prediction == 4%}
                        <div class="emotion-tab">
                            <img src="{{ url_for('static', filename='images/pain.png')}}">
                            <span>Disjust</span>
                        </div>
                        {% elif prediction == 5%}
                        <div class="emotion-tab">
                            <img src="{{ url_for('static', filename='images/sad.png')}}">
                            <span>Shame</span>
                        </div>
                        {% elif prediction == 6%}
                        <div class="emotion-tab">
                            <img src="{{ url_for('static', filename='images/pain.png')}}">
                            <span>Guilt</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="tabpanel">
                        <div class="result">
                            <img src="{{ url_for('static', filename='images/lime-example.jpg')}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
</html>