*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.emotion-detection{
    width: 100vw;
    height: 100vh;
    .nav-top{
        width: 100%;
        height: 8vh;
        color: white;
        background-color: #0A92DE;
        display: flex;
        justify-content: center;
        .nav-content{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 700;
            letter-spacing: 2px;
            .nav-left{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 50px;
                    height: auto;
                    margin-right: 15px;
                }
            }
            .nav-right{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 50px;
                    height: auto;
                    margin-right: 15px;
                }
            }
        }
    }

    .middle-content{
        width: 100%;
        height: 50%;
<<<<<<< HEAD
        background-color: #2b2827;
=======
        background-color: #FFE766;
>>>>>>> 72b363b521e4db65a4b34b9a6ca8cf4ac85ffce0
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .left-box{
            position: absolute;
            top: 30%;
            left: 9%;
            width: 39%;
            height: 130%;
            min-height: 490px;
            max-height: 492px;
            max-width: 600px;
            min-width: 500px;
            background-color: white;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            .heading{
                width: 100%;
                padding: 10px 0;
                font-weight: 600;
                letter-spacing: 2px;
                background-color: #0A92DE;
                color: white;
                font-weight: 700;
                text-align: center;
            }

            .image{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 35%;
                }
            }

            .data{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                form{
                    textarea{
                        width: 99%;
                        height: 150px;
                        border: 0;
                        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                        margin: 10px 0;
                        padding: 10px 0 10px 5px;
                    }

                    button{
                        border: 0;
                        background-color: #0A92DE;
                        padding: 5px 20px;
                        color: white;
                        letter-spacing: 1.5px;
                        font-weight: 700;
                        width: 100%;
                    }
                }
            }
        }

        .right-box{
            position: absolute;
            top: 30%;
            right: 9%;
            width: 39%;
            height: 130%;
            background-color: white;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            min-height: 490px;
            max-height: 492px;
            max-width: 600px;
            min-width: 500px;
            .box-top{
                width: 100%;
<<<<<<< HEAD
                height: 100%;
=======
>>>>>>> 72b363b521e4db65a4b34b9a6ca8cf4ac85ffce0
                .tab{
                    display: flex;
                    justify-content: center;
                    button{
                        width: 45%;
                        padding: 5px 0;
                        border: 0;
                        margin-top: 15px;
                        box-shadow: 0px 0px 2px rgba(58, 58, 58, 0.25);
                        outline: none;
                        cursor: pointer;
                        
                        .btn{
                            display: flex;
                            align-items: center;
                            font-size: 17px;
                            font-weight: 700;
                            letter-spacing: 1px;
                            img{
                                width: 30px;
                                margin: 0 30% 0 10px;
                            }
                        }
                        
                    }

                    button:hover{
                        background-color: #0A92DE;
                        color: white;
                    }
                }

                .tabpanel{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 10px;
<<<<<<< HEAD
                    justify-content: center;
                    width: 100%;
                    height: 100%;
=======
>>>>>>> 72b363b521e4db65a4b34b9a6ca8cf4ac85ffce0
                    .emotion-tab{
                        padding: 10px 30px;
                        display: flex;
                        justify-content: center;
<<<<<<< HEAD
                        flex-direction: column;
                        align-items: center;
                        margin-right: 8%;
                        img{
                            width: 30%;
                            padding: 0 25px;
                        }
                    }

                    .result{
                        width: 100%;
                        table{
                            border-collapse: collapse;
                            margin: 25px;
                            font-size: 0.9em;
                            font-family: sans-serif;
                            min-width: 400px;
                            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
                            tr th{
                                padding: 10px;
                                background-color: #0A92DE;
                                color: #ffffff;
                                text-align: left;
                            }

                            tr td {
                                padding: 12px 15px;
                            }

                            tbody tr {
                                border-bottom: 1px solid #dddddd;
                                padding: 10px;

                            }

                            tbody tr:nth-of-type(even) {
                                background-color: #f3f3f3;
                            }
                            
                            tbody tr:last-of-type {
                                border-bottom: 2px solid #0A92DE;
                            }

                            tbody tr.active-row {
                                font-weight: bold;
                                color: #0A92DE;
                            }

                            a{
                                background-color: transparent;
                                border: none;
                                img{
                                    width: 20px;
                                }
                            }   
                        }
                    }
=======
                        align-items: center;
                        margin-right: 8%;
                        img{
                            width: 80px;
                            padding: 0 25px;
                        }
                    }
>>>>>>> 72b363b521e4db65a4b34b9a6ca8cf4ac85ffce0
                }
            }
        }
    }
}


<<<<<<< HEAD
=======
.background{
    width: 100%;
    .left-image{
        width: 50%;
        img{
            width: 90%;
        }
    }
}
>>>>>>> 72b363b521e4db65a4b34b9a6ca8cf4ac85ffce0
